// Customization Bootstrap vars
$blue: #007BFF;
$green: #28A745;

$font-family-base: 'SF Pro Display';

$input-bg: #F8F9FA;
$input-border-color: $input-bg;

$input-btn-padding-y: 5px;

$container-max-widths: (
  xl: 1134px
);